<div id="allGamesBox" class="container">
    <div class="allGamesTeamsBox">
        <div id="allGamesAway" class="allGamesRow">
            <p>{{awayName}}</p>
            <p>{{awayScore}}</p>
        </div>
        <div id="allGamesHome" class="allGamesRow">
            <p>{{homeName}}</p>
            <p>{{homeScore}}</p>
        </div>
    </div>
</div>