<div id="currentGame" class="currentGame">
    <div id="allGames" class="currentGameBox">
        <h2 id="todayGameText">Today's Games</h2>
        {{!-- {{#each gamesArray as |game|}} --}}
        {{#each gamesArray}}
        {{> game-cards}}
        {{/each}}
    </div>
</div>